<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<title>angular的指令</title>
</head>
<body ng-app="myApp">


    <!-- 价格计算器 -->
    <h1>1、</h1>
	<div ng-init="quantity=1;price=5"></div>
	<h2>价格计算器</h2>
	数量：<input type="number" ng-model="quantity">
	价格：<input type="number" ng-model="price">
	<p><b>总价：{{quantity*price}}</b></p>




	<!-- ng-repeat 循环数组 -->
	<h1>2、</h1>
	<div ng-init="names=[
	 {name:'张三',country:'上海'},
	 {name:'李四',country:'北京'},
	 {name:'王五',country:'广州'}
	]">
	<p>循环对象</p>
	<ul>
		<li ng-repeat="x in names">
			{{x.name+" "+x.country}}
		</li>
	</ul>
		
	</div>

    <br><br>
	<mark>
	restrict 值可以是以下几种:<br>
	E 作为元素名使用<br>
	A 作为属性使用<br>
	C 作为类名使用<br>
	M 作为注释使用<br>
	restrict 默认值为 EA, 即可以通过元素名和属性名来调用指令。
	</mark>
    <!-- 自定义指令：元素名app.directive -->
	<h1>3、</h1>
	<p>自定义指令：app.directive</p>
	<dd-directive></dd-directive>

	<!-- 自定义指令：属性  -->
	<h1>4、</h1>
	<p>自定义指令：属性</p>
	<div ss-directive></div>

	<!-- 自定义指令：类名  -->
	<h1>5、</h1>
	<p>自定义指令：类名</p>
	<div class="cc-directive"></div>

	<p><strong>注意：</strong> 你必须设置 <b>restrict</b> 的值为 "C" 才能通过类名来调用指令。</p>


	<!-- 自定义指令：注释  -->
	<h1>6、</h1>
	<p>自定义指令：注释</p>
	<!-- directive: zs-directive -->
	<p><strong>注意：</strong> 我们需要在该实例添加 <strong>replace</strong> 属性， 否则评论是不可见的。</p>
    <p><strong>注意：</strong> 你必须设置 <b>restrict</b> 的值为 "M" 才能通过注释来调用指令。</p>
	



<script>
	var app = angular.module("myApp",[]);

	// 标签
	app.directive("ddDirective",function(){
		return {
           template: "<h3>自定义指令</h3> "
		}
	});

	// 属性
	app.directive("ssDirective",function(){
		return {
           template: "<h3>自定义指令</h3> "
		}
	});

    //类名
	app.directive("ccDirective",function(){
		return {
		   restrict:"C",
           template: "<h3>自定义指令</h3> "
		}
	})

	//注释
	app.directive("zsDirective",function(){
		return {
          restrict : "M",
          replace : true,
          template:"<h3>自定义指令</h3>"
		}
	})
</script>	
</body>
</html>